.emacs.desktop
.mc-lists.el
.places
auto-save-list
backups
bookmarks
code-snippets.txt
elpa
emacs.desktop
eshell
history
lock
notes.org
places
projectile-bookmarks.eld
projectile.cache
speed-type
tramp
url
basic.ics
gcal.org
spu_log
/private.el
/ido.last
/recentf
/.persistent-scratch
/tutorial
/emacs.el
/emacs.html
var
/meghanada
/nov-places
/todo.org
